html {
    font-family: Arial, sans-serif;
    background: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg') no-repeat center center fixed; /* Añadir imagen de fondo */
    background-size: cover; /* Ajustar imagen de fondo para llenar la pantalla sin recortes */
}

body {
    margin: 0;
    padding: 0;
}

body main {
    padding: 2rem;
    margin: auto;
}

section {
    max-width: 1000px;
    margin: 0 auto 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    width: 60%; /* Reducción del tamaño del contenedor */
}

.container aside {
    background-color: rgba(255, 255, 255, 0.8); /* Hacemos el aside un poco transparente */
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    width: 80%; /* Reducción del tamaño del aside */
}

.container h2 {
    font-size: 2rem; /* Tamaño original */
    font-weight: bold;
    color: #4f4f4f;
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.5rem; /* Añadido margen inferior */
}

.container p {
    font-size: 1rem; /* Tamaño original */
    color: #4f4f4f;
}

.container form {
    background-color: rgba(255, 255, 255, 0.8); /* Hacemos el formulario un poco transparente */
    padding: 2rem;
    border: none; /* Quitamos el borde del formulario */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%; /* Reducción del tamaño del formulario */
    box-sizing: border-box;
}

.campo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    border: none; /* Quitamos el borde del fieldset */
}

.campo input, .campo textarea {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1rem; /* Reducción del tamaño del input */
    margin-bottom: 0.5rem;
    width: calc(100% - 20px); /* Ajuste del ancho del input */
    border-radius: 5px; /* Hacemos las esquinas del input redondeadas */
}

textarea {
    height: 10rem; /* Aumento del tamaño del cuadro de texto */
}

button {
    background-color: #7dbb77;
    color: #fff;
    border: 1px solid #7dbb77;
    border-radius: 10px;
    padding: 0.5rem 2rem; /* Aumentamos el padding horizontal */
    font-size: 1.5rem; /* Reducción del tamaño del botón */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: center; /* Centrado del botón */
    width: calc(100% - 20px); /* Ajuste del ancho del botón */
}

button:hover {
    background-color: #fff;
    color: #000;
}

/* Media queries para hacerlo responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .container aside,
    .container form {
        width: 90%;
    }
}
